* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.kick-pad {
  background: rgb(0, 255, 234);
}

.kick-pad.active {
  background: rgb(0, 190, 175);
}

.snare-pad {
  background: rgb(255, 195, 205);
}

.snare-pad.active {
  background: rgb(255, 87, 115);
}

.hat-pad {
  background: rgb(255, 209, 195);
}

.hat-pad.active {
  background: rgb(255, 135, 99);
}

.crash-pad {
  background: rgb(230, 153, 130);
}

.crash-pad.active {
  background: rgb(179, 60, 24);
}

.clap-pad {
  background: rgb(177, 130, 230);
}

.clap-pad.active {
  background: rgb(143, 67, 230);
}

.hat-track,
.kick-track,
.snare-track,
.crash-track,
.clap-track {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  margin-top: 3rem;
}

.hat,
.kick,
.snare,
.crash,
.clap {
  display: flex;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

#particles-js {
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: -1;
  top: 0%;
  left: 20%;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
